body {
  position: relative;
}

.recorder-controller-wrapper {
  height: 55px;
  width: fit-content;
  padding: 1em 2.5em;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1.3em;
  top: 650px;
  left: 20px;
  transform: translateX(30vw) !important;
  /* transform: translateY(50vh) !important; */
  margin-bottom: 4em;
  background-color: #141414;
  border-radius: 200px;
  border: 7px solid rgb(218, 217, 217);
  z-index: 9999;
}

.timer-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.timer-container p {
  color: white;
  font-size: 1rem;
}

.line-break {
  height: 100%;
  border-right: 1px solid #e8e8e8;
}

.controllers-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
  margin-top: 10px;
}

.controllers-wrapper .control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control .ctr-icon {
  background-color: white;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control p {
  color: white;
  font-size: 0.8rem;
  line-height: 0%;
}

#delete-btn .ctr-icon {
  background: #4b4b4b !important;
}

#delete-btn .ctr-icon i {
  color: rgba(190, 190, 190, 1);
}
.my-styled-class {
  font-size: 3rem;
  font-weight: 800;
}
